<!doctype html>
<html lang="en">
<head>
  {% if page.url == '/' %}
    <title>{{ site.title }} | {{ site.description }}</title>
  {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}

  <link rel="stylesheet" href="{{ site.data.manifest['vtkm.css'] }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;600&display=swap" rel="stylesheet">

  <!-- Icon Font -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>

<body class="min-h-screen min-w-full">

  <header class="bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="flex justify-between items-stretch h-20">

        <!-- Logo -->
        <div class="flex items-center justify-start lg:w-0 lg:flex-1">
          <a href="{{ site.baseurl }}">
            <span class="sr-only">VTK-m</span>
            <img class="h-8 w-auto md:h-12" src="{{ 'img/VTKm_Logo.svg' | prepend: site.baseurl }}" alt="">
          </a>
        </div>

        <nav class="flex">
          {% if site.data.nav %}
          <ul class="flex space-x-6">
            {% for item in site.data.nav %}
            <li>
              <a href="{{ item.url }}" class="block border-b-0 border-transparent flex h-full items-center text-gray-700 transition-all hover:no-underline hover:border-b-4 hover:border-accent-500">
                <span>{{ item.name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="flex items-center pl-8">
            <a href="{{ site.download_link }}" class="button is-accent" target="_blank">
              <i class="ri-download-2-fill mr-2 text-xl"></i>
              <span>Download</span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </header>
