<div class="bg-gradient-to-r from-primary-500 items-center to-primary-900 max-w-7xl mx-auto overflow-hidden px-12 py-16 pb-24 relative shadow-2xl text-white lg:flex lg:overflow-visible lg:px-20 xl:rounded-xl">
  <div class="flex-1 relative z-20">
    <h1 class="text-white text-shadow-2xl">
      <span class="text-primary-300 block text-xl lg:text-3xl">A toolkit of</span>
      <span class="block text-5xl uppercase lg:text-7xl">scientific visualization algorithms</span>
      <span class="text-primary-300 text-base lg:text-xl">
        for <span class="font-bold text-white">emerging processor architectures.</span>
      </span>
    </h1>
  </div>
  <div class="absolute bottom-0 -right-48 flex-grow max-h-72 z-10 md:relative md:right-auto md:bottom-auto md:pl-14 lg:pl-40">
    <img src="{{ page.hero_image | prepend: site.baseurl }}" class="h-auto -mt-12 w-full" alt="">
  </div>
</div>
