{% include header.html %}

{% include hero.html %}

<section class="container max-w-7xl mx-auto px-6 py-16 pt-8 lg:pt-24 lg:flex lg:flex-wrap">
  {% if page.download_link %}
    {% include download.html %}
  {% endif %}
  <div class="p-10 w-full lg:flex-2 lg:p-0 lg:pl-16 lg:w-2/3">
    {{ content }}
  </div>
</section>

<section class="bg-gradient-to-br from-secondary-50 to-secondary-200 py-16">
  <div class="container max-w-7xl mx-auto px-6">
    {% include resources.html %}
  </div>
</section>

{% include footer.html %}
